@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/********************Estilos del body**********************/
body {
  font-family: "Roboto", sans-serif;
}

/********************Estilos del aside**********************/
aside {
  background-color: #1cd1b0;
  font-size: 15px;
  font-weight: 400;
}
/********************Estilos del h1**********************/
h1 {
  background-color: #00669f;
  font-size: 40px;
  font-weight: 500;
}
