/*******************Fuente************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/*******************Estilos universales************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/*******************Estilos del aside************/

aside {
  background-color: #222222;
  color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

/*******************Estilos del nav************/
.logo {
  width: 15%;
}

nav {
  background-color: #f0a83e;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.fa-paw {
  color: white;
}

nav li {
  color: #f3f3f3;
  display: inline;
}

nav div {
  display: inline;
  margin-right: 10px;
}
/*******************Imagen de fondo y títulos************/

.presentacion {
  background-image: url("../img/imagen_fondo_comedero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  padding: 10% 5%;
}
.presentacion_titulos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentacion p {
  color: #3c2313;
  margin: 20px;
  font-size: 1.5rem;
}

h2 {
  background-color: #f3f3f3;
  color: #3c2313;
  font-weight: 400;
  font-size: 3rem;
  border-radius: 5px;
  padding: 10px;
}

.btn__comederos {
  background-color: #f0a83e;
  border: none;
  border-radius: 8px;
  color: #f3f3f3;
  height: 50px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1.2rem;
}

h1 {
  color: #3c2313;
  font-size: 3rem;
}

/*******************Estilos de productos************/
.productos_descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patita_naranja {
  width: 5%;
  margin-top: 1.5rem;
}
.categorias {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  color: #666666;
}
.categorias li {
  margin: 0 10px;
}
.productos__items {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 3rem;
}
.productos__nombre {
  color: #3c2313;
  font-weight: 600;
  text-align: center;
}
.productos__precio {
  color: #f0a83e;
  font-weight: 600;
  text-align: center;
}

/*******************Estilos de suscripción************/
.suscripcion {
  background-color: #f0a83e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
}
.suscripcion__titulo {
  font-weight: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1.5rem;
}
.suscribirme {
  background-color: #3c2313;
  border: none;
  color: #ffff;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
}
form {
  display: flex;
  gap: 1rem;
  width: 40%;
}
form input {
  border: none;
  border-radius: 1.2rem;
  width: 80%;
  padding: 5px;
}

/*******************Estilos del footer************/
footer {
  color: #f3f3f3;
}
.redes_sociales {
  background-color: #3c2313;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.redes__conjunto {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  padding: 0.5rem;
}
.redes_sociales p {
  color: #666666;
}
footer .copyright {
  background-color: #222222;
  text-align: center;
  padding: 0.5rem;
}

/**************Media Queries***********************/
@media (max-width: 500px) {
  aside {
    display: none;
  }
  nav ul {
    display: none;
  }
  .logo {
    width: 30%;
  }
  nav {
    position: relative;
  }
  nav::after {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ffff;
    font-size: 1rem;
    position: absolute;
    left: 90%;
  }
  .presentacion {
    align-items: center;
  }
  h2 {
    font-size: 1.5rem;
  }
  .patita_naranja {
    width: 15%;
  }
  .productos_descripcion {
    padding: 0 5%;
  }
  h1 {
    text-align: center;
  }
  .productos__items {
    flex-direction: column;
    align-items: center;
  }
  .suscripcion {
    flex-direction: column;
    gap: 20px;
  }
  .suscripcion__titulo {
    font-size: 1.5rem;
  }
  form {
    width: 80%;
  }
  .redes_sociales {
    flex-direction: column-reverse;
    align-items: center;
  }
  .presentacion p {
    font-size: 1rem;
  }
  .btn__comederos {
    font-size: 0.5rem;
  }
}
