@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  background-color: #c4c4c4;
  font-size: 25px;
  letter-spacing: 4px;
  color: #005677;
  text-align: center;
}

header {
  background-color: #e5e5e5;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header div {
  text-align: center;
}

header img {
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.sobre_mi,
.home {
  text-align: center;
  margin-top: 30px;
}

.sobre_mi_a,
.home_a {
  background-color: #005677;
  color: white;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 10px 15px;
  text-decoration: none;
}

a:hover {
  background-color: rgba(0, 86, 119, 0.8);
}

main {
  margin-left: 20%;
  margin-right: 20%;
  height: calc(100vh - 224px - 19px - 40px);
}

span {
  font-weight: bold;
}

.datos-personales span {
  font-style: italic;
}

.categorias {
  background-color: #c4c4c4;
  font-size: 18px;
  color: #005677;
}

.formacion-anios,
.experiencia-laboral {
  list-style: none;
}

footer {
  background-color: #005677;
  color: #ffffff;
}

footer {
  text-align: center;
}
.fab {
  display: inline;
  margin: 0 10px 0 10px;
  font-weight: normal;
}

.e-mail {
  font-weight: normal;
}

/**************Estilos Sobre mí***************/
p {
  margin-top: 50px;
  text-align: justify;
  line-height: 2rem;
}
