@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/********************Estilos del body**********************/
body {
  font-family: "Roboto", sans-serif;
}

/********************Estilos del aside**********************/
aside {
  background-color: #1cd1b0;
  font-size: 15px;
  font-weight: 350;
  padding: 10px;
}
/********************Estilos del h1**********************/
h1 {
  background-color: #00669f;
  box-shadow: 0px 15px 10px -15px #111;
  font-size: 40px;
  font-weight: 400;
  padding: 15px;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
/********************Main********************************/
main {
  /* height: 900px; */
  margin: auto;
  width: 90%;
  z-index: -1;
}
/********************Section********************************/
section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/********************Estilos de las cards**********************/
.card {
  background-color: #f3f3f3;
  display: inline-block;
  height: 500px;
  width: 25%;
  margin: 43px 4%;
  border-radius: 20px 20px 0 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.card__corazon {
  position: absolute;
  top: 20px;
  left: 15px;
}
.card__corazon:hover {
  opacity: 0.7;
}
.card__background {
  position: relative;
  background-position: center center;
  border-radius: 20px 20px 0 0;
}
.card__profile {
  position: absolute;
  left: 50%;
  top: 90px;
  transform: translate(-50%);
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
.card__background.cat {
  background-image: url("../img/catwoman-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
.card__background.ivy {
  background-image: url("../img/poison-ivy-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
.card__background.quinn {
  background-image: url("../img/harley-queen-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
.card__profile.cat {
  background-image: url("../img/catwoman-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card__profile.ivy {
  background-image: url("../img/poison-ivy-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card__profile.quinn {
  background-image: url("../img/harley-queen-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card__description {
  height: 300px;
  padding: 100px 25px 0px;
  text-align: center;
}
.card__title,
.card__description p {
  margin-bottom: 30px;
}
.card__description p {
  font-weight: 300;
}
.card__title {
  font-weight: 400;
}
a {
  background-color: #00669f;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffff;
  font-weight: 300;
}
a:hover {
  background-color: rgba(0, 102, 159, 0.8);
}

/********************Footer**********************/
footer {
  background-color: #00669f;
  color: #ffff;
  text-align: center;
  font-weight: 300;
  height: 25px;
}

/********************Media Queries**********************/
@media (max-width: 768px) {
  section {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .card {
    width: 40%;
  }
}
@media (max-width: 480px) {
  section {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
  }
}
